@model Student

@{
  Layout = null;
  ViewBag.Title = "Student Details";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/detailsForm.css" />
  <title>Details</title>
</head>
<body class="container">
  <div class="page-content page-container mt-5" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-xl-8 col-md-12">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25"> <img src="~/images/@Model.StdImg" width="70px" class="img-radius" alt="User-Profile-Image"> </div>
                  <h6 class="f-w-600">@Model.Name</h6>
                  <p>@Model.Department.DeptName</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">ID</p>
                      <h6 class="text-muted f-w-400">@Model.Id</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Username</p>
                      <h6 class="text-muted f-w-400">@Model.UserName</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Age</p>
                      <h6 class="text-muted f-w-400">@Model.Age years old</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">98979989898</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Department</p>
                      <h6 class="text-muted f-w-400">@Model.Department.DeptName</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">@Model.Email</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">password</p>
                      <h6 class="text-muted f-w-400">@Model.Password</h6>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
